
<h1>Most recent pictures</h1>
<!-- The current user verify that the user is logged in and if it does it will display the link -->
<% if current_user %>
<p><%= link_to("ADD NEW PICTURE", new_picture_url) %></p>
<% end%>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
      <%= link_to image_tag(picture.url), picture_url(picture.id)%>
  <% end %>
</ul>
<ul>
  <% @last_month_pictures.each do |picture | %>
  <%= link_to image_tag(picture.url), picture_url(picture.id) %>
  <% end %>
  <% @date = Date.today  %>

<p>  <%= "Count of pictures: (#{@last_month_pictures.length}) #{@date.strftime("%B")}"%></p>
</ul>
<ul>
  <% @pictures_in_year.each do |picture | %>
    <%= link_to image_tag(picture.url), picture_url(picture.id)%>
  <% end %>
  <hr>
</ul>
<h2>Picture from the past</h2>
<ul>
  <% @pictures_from_last_year.each do |picture | %>
    <%= link_to image_tag(picture.url), picture_url(picture.id) %>
  <p>  <%= picture.created_at.year %> </p>
  <% end %>
  <hr>
</ul>
